@use '../global/variables.module.scss' as *;
@use '../global/mixins.module.scss' as *;

.grid {
  display: block;
  @include tablet-landscape-up {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include desktop-up {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @include big-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
